.body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.homepage_button{
    text-decoration: none;
    font-family: sans-serif;
    background-color: dodgerblue;
    color: white;
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 5px;
    padding:5px;
    width: 200px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
}
.homepage_button:hover{
    background-color: #1251a2;
    border-color: #1251a2;
}