{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="body">
    <div class="form_container" id="form_container">
        <h1>{{name}}</h1>
        <form class="base_form" id = "base_form" action = "/createmodel/success" method = "POST">
            <div id="fields">Add some field to your form</div><br>
            <input type="hidden" name="name" value="{{name}}"><br>
            <input id = "button_style" type="submit" value="Submit"><br>
        </form>
    </div>
    <div class="form_create">
        <button class="button_style" onclick="PopupForm()">&#43; Add field</button><br>
    </div>
</div>
{% endblock %}